.app {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.users {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 300px;
}

.user {
  border: 1px solid #ccc;
  border-top-width: 0;
  padding: 10px;
  cursor: pointer;
}

.user:first-child {
  border-top-width: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.user:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.user.user_chosen {
  border: none;
  background: #0f7ffa;
  color: white;
}

.details {
  max-width: 300px;
}

.details__avatar {
  width: 100%;
}

.details__field {
  border: 1px solid #ccc;
  border-top-width: 0;
  padding: 10px;
}

.details__field_name {
  padding: 20px 10px;
}

.details__field:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.fixed-ratio {
  position: relative;
}

.fixed-ratio__inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
